body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
}

.main-container {
  width: 100%;
  max-width: 380px;
  background: #fff;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: #ff6b82;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 100%;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: #ccc;
  max-width: 100px;
}

.box-container {
  width: 90%;
  margin: 10px 0;
  background: white;
  border-radius: 4px;
  border: 2px solid #e1e1e1;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
  padding: 14px;
  min-width: 280px;
}

.box-container.expanded {
  border-color: #ff6b82;
  box-shadow: 0 4px 10px rgba(233, 30, 99, 0.2);
  background-color: #fff5fa;
  transform: scale(1.02);
}

.box-container:hover {
  box-shadow: 0 4px 5px rgba(233, 30, 99, 0.2);
  transform: scale(1.02);
}

.circle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid #d3d3d3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  transition: all 0.3s ease-in-out;
}

.circle::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;

  transition: all 0.3s ease-in-out;
}

.selected-circle {
  border-color: #ff6b82 !important;
}

.selected-circle::after {
  background: #ff6b82 !important;
}

.most-popular {
  position: absolute;
  top: -10px;
  right: 6px;
  background: #ff6b82;
  color: white;
  padding: 4px 10px;
  font-size: 11px;
  font-weight: bold;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.box-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.unit-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
}

.unit-count {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  display: flex;
  align-items: center;
  gap: 6px;
}

.discount {
  background: #ff6b82;
  color: white;
  font-size: 10px;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 2px;
}

.price-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-top: 2px;
}

.unit-price {
  font-size: 16px;
  color: #333;
  font-weight: bold;
}

.standard-price {
  color: #999;
  font-size: 12px;
  text-decoration: line-through;
}

.options-container {
  padding-top: 12px;
  top: 100%;
  left: 30px;

  display: none;
  flex-direction: column;
  gap: 8px;
  width: 70%;
  margin-left: 20px;
}

.option-label {
  flex: 1;
  text-align: left;
  font-size: 12px;
}

.options-container.visible {
  display: block;
}

.option-group {
  margin: 10px 0;
}

.select-row {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  justify-content: center;
}

select {
  flex: 1;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: white;
  font-size: 12px;
  cursor: pointer;
}
.select-header {
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: bold;
  color: #555;
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
  margin-left: 10%;
}

.add-to-cart {
  background: white;
  padding: 18px;
  margin-top: 10px;
  /*box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.cart-value {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
}

.total-price {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.cart-button {
  background: #ff6b82;
  color: white;
  border: none;
  padding: 12px 18px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  text-align: center;
  box-shadow: 0 3px 6px rgba(255, 51, 153, 0.3);
  transition: background 0.3s ease;
}

.plus-cart-text {
  margin-right: 4px;
  font-weight: bold;
}

.cart-button:hover {
  background: #e91e63;
}

.free-delivery {
  color: #ff6b82;
  font-size: 12px;
  font-weight: bold;
}
